body {
    background: rgba(0, 0, 0, 0.9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    color: #fff;
}

.bg-light {
    background: #f4f4f4;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #f4f4f4;
}

.showcase::after {
    content: '';
    background-image: url('../images/background5.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    display: block;
    filter: blur(25px);
    transition: all 1s;
}

.showcase:hover .content {
    filter: blur(200px);
}

.showcase:hover::after {
    filter: blur(0px);
}

.content {
    position: absolute;
    z-index: 1;
    top: 10%;
    left: calc(50% - 150px);
    text-align: center;
    width: 300px;
    height: 350px;
    transition: all 1s;
}

.content img {
    width: 300px;
    height: 300px;
}

.content .title {
    font-size: 2rem;
    margin-top: 1rem;
}

.content .text {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
    padding: 4rem 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    text-align: center;
}

.grid-3 div p {
    font-size: 1rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    text-align: center;
}

.center {
    text-align: center;
    margin: auto;
}

.footer {
    padding: 1.7rem;
}

.footer p {
    margin: 0;
}

@media (min-width:500px) {
    .showcase::after {
        height: 70vh;
    }
    .content {
        top: 2%;
    }
    .content img {
        width: 200px;
        height: 200px;
    }
    .content .title {
        font-size: 1.5rem;
        margin-top: 5px;
    }
    .content .text {
        font-size: 1rem;
        margin-top: 5px;
    }
    .grid-2 {
        grid-template-columns: 1fr;
    }
    .grid-3 {
        grid-template-columns: 1fr;
    }
    .grid-3 div p {
        font-size: 1rem;
        padding: 1px 20px;
    }
}
@media (max-width:320px) {
    .showcase::after {
        height: 50vh;
    }
    .content {
        top: 5%;
    }
    .content .title {
        font-size: 1rem;
        margin-top: 5px;
    }
    .content .text {
        display: none;
    }
    .content img {
        width: 180px;
        height: 180px;
    }
    .grid-2 {
        grid-template-columns: 1fr;
    }
    .grid-3 {
        grid-template-columns: 1fr;
    }
    .grid-3 div p {
        font-size: .7rem;
        padding: 0px 20px;
    }
    .grid-2 div p {
        font-size: .7rem;
    }
    .footer {
        padding: 1rem;
    }
    .footer p {
        font-size: .7rem;
    }
